<!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="vesax-responsive-nav">
        <div class="vesax-responsive-menu">
            <div class="responsive-burger-menu d-lg-none d-block">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>
        </div>
    </div>
    <div class="vesax-nav">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="collapse navbar-collapse mean-menu">
                <ul class="navbar-nav">
                  <ng-container *ngFor="let menu of navBarItems">
                    <li *ngIf="menu.children.length > 0" class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">{{menu.name}}</a>
                      <ul class="dropdown-menu">
                        <li *ngFor="let sideMenu of menu.children" class="nav-item">
                          <a *ngIf="sideMenu.children.length === 0" routerLink="{{sideMenu.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{sideMenu.name}}</a>
                          <ng-container *ngIf="sideMenu.children.length > 0">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link">{{sideMenu.name}}</a>
                            <ul class="dropdown-menu">
                              <li *ngFor="let sideMenu2 of sideMenu.children" class="nav-item"><a routerLink="{{sideMenu2.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{sideMenu2.name}}</a></li>
                            </ul>
                          </ng-container>
                        </li>
                        </ul>
                    </li>
                    <li *ngIf="menu.children.length === 0" class="nav-item"><a routerLink="{{menu.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{menu.name}}</a></li>
                  </ng-container>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navbar Area -->
