<!-- Start Navbar Area -->
<div class="navbar-area navbar-style-two">
    <div class="vesax-responsive-nav">
        <div class="container">
            <div class="vesax-responsive-menu">
                <div class="logo">
                    <a routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="vesax-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu">
                  <ul class="navbar-nav">
                      <ng-container *ngFor="let menu of navBarItems">
                        <li *ngIf="menu.children.length > 0" class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">{{menu.name}}</a>
                          <ul class="dropdown-menu">
                            <li *ngFor="let sideMenu of menu.children" class="nav-item">
                              <a *ngIf="sideMenu.children.length === 0" routerLink="{{sideMenu.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{sideMenu.name}}</a>
                              <ng-container *ngIf="sideMenu.children.length > 0">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link">{{sideMenu.name}}</a>
                                <ul class="dropdown-menu">
                                  <li *ngFor="let sideMenu2 of sideMenu.children" class="nav-item"><a routerLink="{{sideMenu2.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{sideMenu2.name}}</a></li>
                                </ul>
                              </ng-container>
                            </li>
                          </ul>
                        </li>
                        <li *ngIf="menu.children.length === 0" class="nav-item"><a routerLink="{{menu.url}}" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{menu.name}}</a></li>
                      </ng-container>
                      <!--<form class="navbar-search-box">
                        <select class="input-search" (change)="changeLanguage($event.target.value)">
                          <option value="fr">{{'francais' | translate}}</option>
                          <option value="en">{{'anglais' | translate}}</option>
                        </select>
                      </form>-->
                    </ul>

                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <span data-bs-toggle="modal" (click)="openSigninSignupPopup()"><i class="flaticon-user"></i> Login / Register</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            
            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                            <span data-bs-toggle="modal" (click)="openSigninSignupPopup()"><i class="flaticon-user"></i> Login / Register</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
